RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d

# pentru fisierele php
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L] 
# pentru fisierele html
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L] 
# pentru fisierele htm
RewriteCond %{REQUEST_FILENAME}\.htm -f
RewriteRule ^(.*)$ $1.htm [NC,L] 
